name: Build and install all packages

on:
  push:
    branches: [master, exttextcat]

jobs:
  build:
    runs-on: macos-latest
    steps: 
      - name: Build and install all packages
        run: |
          export HOMEBREW_FAIL_LOG_LINES=1000
          brew tap fbkarsdorp/homebrew-lamachine
          brew install -v libexttextcat
          #brew install colibri-core
          #brew install frog


