name: Build and install all packages

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: macos-latest
    steps: 
      - name: Build and install all packages
        run: |
          brew tap fbkarsdorp/homebrew-lamachine
          #brew install colibri-core
          brew install frog


